public/n8n/rag_agent_offline.json
{
  "name": "fileupload rag",
  "nodes": [
    {
      "parameters": {},
      "id": "449441d7-9e66-4cf0-8649-b8a9a76bda94",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        2780,
        840
      ],
      "credentials": {
        "postgres": {
          "id": "pQ47VktQTk3cycxI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "id": "ca493c63-1eaf-4800-8623-7fe3af31ddb9",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2580,
        840
      ],
      "credentials": {
        "ollamaApi": {
          "id": "iwfptcZ3IxiHIjAV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "id": "6ddcabf6-3556-4682-8001-27bb8b5fa1ff",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        3620,
        780
      ],
      "credentials": {
        "ollamaApi": {
          "id": "iwfptcZ3IxiHIjAV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "topK": 3
      },
      "id": "23c717aa-8362-48f0-bd7f-3c2ec5fe1ef7",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        3400,
        620
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "d176b0ca-e57b-48ae-8682-e04c7df5144d",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3500,
        880
      ],
      "credentials": {
        "ollamaApi": {
          "id": "iwfptcZ3IxiHIjAV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload_document",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "ad5a68f1-5524-496a-ada0-ccac68f42407",
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2260,
        1160
      ],
      "webhookId": "upload-doc-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_content",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "dd0aa081-79e7-4714-8a67-1e898285554c",
              "name": "file_name",
              "value": "={{ $json.headers['x-filename'] || 'uploaded_document.txt' }}",
              "type": "string"
            },
            {
              "id": "unique-file-id",
              "name": "file_id",
              "value": "={{ $now.toString() + '_' + $json.headers['x-filename'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fef70faa-9588-4b08-b856-d820dd7efbb5",
      "name": "Process Upload Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "8b1021d6-1000-48e6-8457-669d60d691c9",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2860,
        1160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Process Upload Data').item.json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Process Upload Data').item.json.file_name }}"
              },
              {
                "name": "upload_date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "id": "10222a30-b455-41d6-b77d-3f6e02f8a9a2",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3040,
        1180
      ]
    },
    {
      "parameters": {
        "chunkSize": 100,
        "options": {}
      },
      "id": "20ff8b75-223b-42d5-bc5a-5fe73e26a0f1",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3000,
        1440
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "837fbb56-54a5-406a-ba27-523272ffd612",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3260,
        1440
      ],
      "credentials": {
        "ollamaApi": {
          "id": "iwfptcZ3IxiHIjAV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Local RAG AI Agent with Chat Interface",
        "height": 527.3027193303974,
        "width": 969.0343804425795
      },
      "id": "c50e5a99-b5b5-447d-a5b1-f22fcbd5ca72",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for Local RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "04584bf1-1031-4933-abba-0a0ab8071863",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        500
      ]
    },
    {
      "parameters": {
        "content": "## Workflow to Create Local Knowledgebase from Local File Upload",
        "height": 705.2695614889159,
        "width": 1568.9362829025763,
        "color": 5
      },
      "id": "51bda099-28ea-4a02-b187-592da9c91fed",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2220,
        1040
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0b91b80-5942-4a56-9450-cc560573546f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        2280,
        620
      ],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f8"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "d4076b05-d53f-4689-b01e-c4ed222159b3",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        3220,
        760
      ],
      "credentials": {
        "qdrantApi": {
          "id": "wezFznLJgsNEdCXH",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "3192edcf-2114-4966-a85f-0d384b858b26",
      "name": "Qdrant Vector Store Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        3400,
        1160
      ],
      "credentials": {
        "qdrantApi": {
          "id": "wezFznLJgsNEdCXH",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f24670a3-35e6-45e3-9f2e-20e15feef674",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3000,
        620
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke_n8n_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9249dcb3-69a7-4f9e-8d12-51c2d84e2bb4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2280,
        800
      ],
      "webhookId": "4a839da9-b8a2-45f8-bcaf-c484f9a5912d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2a88b6ed-2e42-497e-84fc-b2a0ecf1f952",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2660,
        620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "612cf398-57ee-43ea-9d14-88046062b2d7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert file content to binary data for processing\nconst fileContent = items[0].json.file_content;\nconst fileName = items[0].json.file_name;\n\n// Create binary data object\nconst binaryData = {\n  data: Buffer.from(fileContent, 'utf8').toString('base64'),\n  mimeType: 'text/plain',\n  fileName: fileName,\n  fileExtension: fileName.split('.').pop() || 'txt'\n};\n\nreturn {\n  json: {\n    fileName: fileName,\n    fileId: items[0].json.file_id\n  },\n  binary: {\n    data: binaryData\n  }\n};"
      },
      "id": "f6ef1855-51e8-42c9-bcad-04f47bacaf44",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        1160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Document uploaded and processed successfully\", \"file_id\": $('Process Upload Data').item.json.file_id } }}",
        "options": {}
      },
      "id": "a6f82ebb-1a08-4d69-8d87-3642b31c707c",
      "name": "Upload Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3520,
        1420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Process Upload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Upload Data": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store Insert": {
      "main": [
        [
          {
            "node": "Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c539fd9-4ad3-4f90-9ab3-8d4a5c6ba864",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "uUxcuS3hLRmGf5OK",
  "tags": []
}